
.card-shadow {
    border-radius: 3px;
    box-shadow:  5px 5px 7px #090707,
                 -5px -5px 7px #251d1d;
}

.card-shadow-2 {
    border-radius: 0px;
    background: #171212;
    box-shadow:  1px 1px 7px #090707,
                 -5px -5px 7px #251d1d;
}
.card-shadow-3 {
    border-radius: 0px;
    box-shadow:  1px 1px 7px #090707,
                 -5px -5px 7px #251d1d;
}

.round{
    border-radius: 50% !important;
}

.thumb{
    transform: scale(0.7);
}